@model eCommerce.Models.Table.TabelaDescritivaConteudo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TabelaDescritivaConteudo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTabelaDescritivaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTabelaDescritivaNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTabelaDescritivaConteudo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
