@model IEnumerable<eCommerce.Models.Table.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes Cadastrados</h1>

<p>
    <a asp-action="Create">Criar cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Preferencial
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPessoaNavigation.Nome)
            </th>
            <th>
                Tipo de Pessoa
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.IsPreferencial == true)
                    {
                         <span>Sim</span>
                    }
                    else 
                    {
                        <span>Não</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPessoaNavigation.Nome)
                </td>
                <td>
                    @if (item.IdPessoaNavigation.PessoaFisica != null)
                    {
                        <span>Física</span>
                    }
                    @if (item.IdPessoaNavigation.PessoaJuridica != null)
                    {
                        <span>Jurídica</span>
                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPessoa">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPessoa">Exibir</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPessoa">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
